@media (min-width:1080px) {
  .puggysoft-form-input-month input.form-control {
    width: 80%;
  }

  .puggysoft-form-select-month select.form-select {
    width: 90%;
  }

  .puggysoft-form-select-chart select.form-select {
    width: 90%;
  }
}