/* Only applies for resolutions greater than 1600px */
@media (min-width:1600px) {
  .puggysoft-user-form {
    margin: auto;
    width: 40%;
    padding-top: 1rem;
  }

  .puggysoft-form-item-label {
    display: inline-block;
    margin: 1rem;
    width: 10rem;
  }

  .puggysoft-form-item-input {
    display: inline-block;
    margin: 1rem;
    width: 16rem;
  }

  .puggysoft-form-item-input-select {
    text-align: center;
    padding-right: 4.6rem;
  }

  .puggysoft-form-item-input-file {
    text-align: center;
    padding-right: 3.9rem;
  }

  .puggysoft-form-item-input-date {
    text-align: center;
    padding-right: 6rem;
  }

}

.user-image {
  width: 25%;
}