/* Only applies for resolutions greater than 1080px */
@media (min-width:1600px) {
  .puggysoft-five-divs-side-by-side-child {
    width: 19%;
    float: left;
    margin-left: 1rem;
  }

  .puggysoft-five-divs-side-by-side-child-container {
    height: 9rem;
  }
}
