/* Only applies for resolutions greater than 1080px */
@media (min-width:1080px) {
  .puggysoft-center-reduced-table {
    display: flex;
    justify-content: center;
  }

  #table {
    align-self: center;
  }
}